<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <title>Car Reservation</title>
</head>
<body>
<h2>Team 5 Rent-A-Car</h2>
<form action="#" th:action="@{/reservation/new}" th:object="${carReservation}"
        method="post" >

  First Name: <input type="text" th:field="*{fName}" />
    <span th:if="${#fields.hasErrors('fName')}" th:errors="*{fName}"> </span><br>

  Last Name: <input type="text" th:field="*{lName}" />
    <span th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}"> </span><br>

  Email: <input type="email" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> </span><br>

  Pick-Up Location: <input type="text" th:field="*{pickupLocation}" /><br>
    <span th:if="${#fields.hasErrors('pickupLocation')}" th:errors="*{pickupLocation}"> </span><br>

  Pick-Up Date: <input type="date" th:field="*{pickupDate}" />
    <span th:if="${#fields.hasErrors('pickupDate')}" th:errors="*{pickupDate}"> </span><br>

  Drop-Off Location: <input type="text" th:field="*{returnLocation}" />
    <span th:if="${#fields.hasErrors('returnLocation')}" th:errors="*{returnLocation}"> </span><br>

  Drop-Off Date: <input type="date" th:field="*{returnDate}" />
    <span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"> </span><br>

  Choose a Car Type:
    <select th:field="*{type}" />
      <option value="">Please select a car type</option>
      <option value="SUV">SUV (6-8 people) $150.00/day</option>
      <option value="FS">Full-size (4-5 people) $125.00/day</option>
      <option value="ECON">Economy (4 people) $110.00/day</option>
      <option value="COMP">Compact (2 people) $5.00/day</option>
    </select>
    <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"> </span>

  <input type="submit" value="Submit" class="btn btn-primary">
</form>
</body>
</html>
